body{
	font-family: 'Cairo', sans-serif;
	font-size:1.1rem;
}

/* HEADER */
.custom-logo{
	width:25%;
}

nav{
	background: #F8B133;
}

.menu-item a{
	color:#fff!important;
	text-decoration: none!important;
	transition: all .2s;
}
.menu-item a:hover{
	color:#424242!important;
}
