body{
	font-family: 'Cairo', sans-serif;
	font-size:1.1rem;
	letter-spacing: 0.05em;
}

/* HEADER */
.custom-logo{
	width:25%;
}

nav{
	background: #fff;
	border-top-color:#424242;
	border-top-style:double;
	border-bottom-color:#424242;
	border-bottom-style:double;
}

.menu-item a{
	color:#424242!important;
	text-decoration: none!important;
	transition: all .2s;
}
.menu-item a:hover{
	color:#111!important;
}

#page{
	position: relative;
	height:100%;
	min-height:96vh!important;
	padding-bottom:100px;
}
.entry-content{
	height:100%!important;
	position: relative;
}

/* FOOTER */
footer{
	background: #424242;
	position: absolute!important;
	bottom:0;
	left:0;
	right: 0;
	color:#fff;
	font-size:0.8rem;
}

.socket {
	background: #181818;
}
